

.task-node {
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  white-space: nowrap;
}

.task-node__error {
  color: red;
  border-color: red;
}
  
.task-node__waiting {
  color: orange;
  border-color: orange;
}
  
.task-node__ready {
  color: green;
  border-color: green;
}
  
.task-node__complete {
  color: black;
  border-color: black;
}

.task-node__selected {
  border-width: 3px;
}

.task-node__unrelated {
  opacity: 0.3;
}

.handle__unrelated {
  opacity: 0.3;
}

.task-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  border-top: 1px solid #ccc;
  overflow: auto;
}

.task-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background-color: #eee;
}

.task-detail-content {
  overflow: auto;
  padding: 10px;
}

.task-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}
